/* ...............................
	Contents
	...............................
	1.		General
	2.		Text and background
	3.		Page sections
	4.		Form elements
	5.		Toggle button
	6.		Table
	7.		Pagination
	8.		Rank badges
	9.		Breadcrumbs
	END OF GENERAL STYLES
	.................................
	8.		Signup form styles
	9.		Role actions permissions
	10.		News feed
    11.             Calendar styling
    12.             Overridden jquery-ui styles
    13.             Post form styling
	14.		Documents
	END.	Developer styles

   ............................. */



body {
	background: #fff url("../image/body.png");
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-size: 14px;
	font-family: arial, verdana, sans serif;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #cdcbbd;
	border-top: none;
	padding: 0 10px 20px 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #fff;
	margin-bottom: 40px;
	min-height: 700px;
	overflow: hidden;
}

a{ color: #427693; }

.bdTop {	border-top: 1px solid #4c3d34;	}
.bdBottom {	border-bottom: 1px solid #4c3d34;	}


/* .......................
	Text and background
   ..................... */
.tBrown {	color: #4c3d34; } .bBrown {	background: #4c3d34; }
.tlBlue {	color: #427693; } .blBlue {	background: #427693; }
.tdBlue {	color: #415666; } .bdBlue {	background: #415666; }
.tYellow {	color: #feb100; } .bYellow {	background: #feb100; }
.tlBrown {	color: #eae3e0; /* Avoid on light background.*/}  .blBrown {	background: #eae3e0; }
.tmidBrown { color: #d7c2b5; } .bmidBrown {	background: #d7c2b5; }
.tWhite {	color: #fff; } .bWhite {	background: #fff; }
.tlGray {	color: #898989; } 	.tRed {	color: #c00000; }
.tGreen {	color: #693; }
.alert {	color: #f00; }

.tpad10 {
	padding-top: 10px;
}
.w8 {  width: 11%; }

/* .......................
	Page sections
   ..................... */
.menubar {
	border-bottom: 2px solid #feb100;
	background: #373736 url("../image/menubar.png") repeat-x left top;
	height: 32px;
}
.wrap {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.menubar .wrap {
	position: relative;
}
.menu a {
	color: #fff;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
	padding: 10px;
	margin-right: 1px;
	display: block;
}
.menu a:hover {
	color: #feb100;
}
.menu.active a {
	background: #7c7b7b url("../image/topmenuSelected.png") repeat-x left bottom;
}
#myacContent {
	top: 2px;
	right: 5px;
	position: absolute;
	background: url("../image/dropmenu.png") repeat-x left -1px;
	z-index: 9;
	width: 109px;
	padding: 0;
	margin: 0;
	display: none;
	padding: 1px;
	padding-top: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#myacContent a {
	display: block;
	padding: 10px;
	color: #333;
	background: #fff;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
#myacContent a:hover {
	background: #565655;
	color: #fff;
}

#myacContent li {
	border-bottom: 1px solid #fafafa;
}
#myacContent li:last-child {
	border-bottom: none;
}
#myacContent li:last-child a {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}
.roleContainer {
	width: 100%;
	left: 0;
	top: 0;
	height: 19px;
	padding: 13px 0 5px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	background: #feb100 url("../image/roleContainer.png") repeat-x left bottom;
	display: block;
	-webkit-box-shadow: inset -1px -1px 3px #f3b95c;
	-moz-box-shadow: inset -1px -1px 3px #f3b95c;
	-ms-box-shadow: inset -1px -1px 3px #f3b95c;
	box-shadow: inset -1px -1px 3px #f3b95c;
}

.roleContainer > a {
	color: #9f410e;
	text-shadow: 1px 1px 1px #f3b95c;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.roleContainer > a:hover {
	color: #662908;
}

.branding {
	padding: 25px 10px;
	border-bottom: 2px solid #feb100;
}
.branding h1 {
	width: 200px;
	height: 60px;
}
.role {
	padding: 5px;
}
.role:hover {
	background: #f4f4f4;
}

.topbar {
	border-top: 1px solid #4c3d34;
	border-bottom: 1px solid #4c3d34;
	vertical-align: middle;
	height: 36px;
	font-size: 12px;
}

.pageTab {
	font-weight: bold;
	color: #4c3d34;
	display: inline-block;
	height: 25px;
	padding: 10px 10px 0 10px;
	vertical-align: middle;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.pageTab:hover {	color: #feb100; }
.pageTab.active {
	color: #feb100;
	background: #4c3d34;
	border-top: 1px solid #4c3d34;
}

.pageAction {
	margin-right: 20px;
	margin-top: 1px;
	font-weight: bold;
	color: #4c3d34;
	display: inline-block;
	height: 25px;
	padding: 10px 10px 0 10px;
	vertical-align: middle;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
	cursor: pointer;
}
.pageAction:hover {	color: #feb100; }
.pageAction.active {
	color: #feb100;
	background: #4c3d34;
}
.pageAction.alert {
	color: #fff;
	height: 12px;
	margin-top: 10px;
	margin-right: 5px;
	background: #c00000;
	border-radius: 3px;
	display: inline;
	padding: 3px 5px;
	font-size: 11px;
}
.pageAction.alert:hover {
	background: #c00000 url("../image/alert.png") repeat-x left top;
}
.sectionTitle {
	font-size: 14px;
	font-weight: bold;
	color: #4c3d34;
	border-bottom: 1px solid #eae3e0;
	padding: 3px 0;
	margin-bottom: 15px;
}
.pageTop {
	padding: 25px 10px;
	vertical-align: middle;
	height: 25px;
}
.pageTop.withBorder {
	border-bottom: 1px solid #4c3d34;
}
.pageTitle {
	font-size: 30px;
	font-family: Georgia, serif;
	color: #4c3d34;
}
.pageDesc {
	width: 295px;
	color: #415666;
	text-align: right;
}
.pagecontent {
	width: 772px;
}

.pagecontent.one_column {
    width: 99%;
}

.sidebar {
	width: 175px;
	margin-right: 10px;
	background: url("../image/sidebar.png") no-repeat right 70%;
	position: absolute;
}
.sidebarTitle {
	color: #333;
	font-size: 20px;
	font-family: Georgia, serif;
	margin: 30px 0 20px 0;
}
.sidemenu {
	height: 45px;
}
.sidemenu:hover {
	font-weight: bold;
}
.sidemenu a {
	display: block;
	padding: 15px 0 15px 45px;
	color: #636363;
	background: url("../image/sbiconsSprite.png") no-repeat;
	-webkit-transition: color 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.sidemenu.Users a {	background-position:0 -333px; }
.sidemenu.Batches a {	background-position:0 -232px; }
.sidemenu.System a {	background-position:0 3px; }
.sidemenu.Courses a {	background-position:0 -111px; }
.sidemenu.Exam a {	background-position:0 -375px; }
.sidemenu.Lecture a {	background-position:0 -52px; }
.sidemenu.Attendance a {	background-position:0 -284px; }
.sidemenu.Documents a {	background-position:0 -706px; }
.sidemenu.Links a {	background-position:0 -644px; }
.sidemenu.Flashcard a {	background-position:0 -478px; }
.sidemenu.Assignments a {	background-position:0 -532px; }
.sidemenu.Lesson a {	background-position:0 -585px; }
.sidemenu.Calendar a {	background-position:0 -173px; }
.sidemenu.Quiz a {	background-position:0 -422px; }

.sidemenu a:hover {	color: #415666; }
.sidemenu.active {
	background: #f4f4f4;
	font-weight: bold;
	width: 173px;
}
.sidemenu.active a{
	color: #feb100;
}
.withUser .sidebarTitle {
	font-family: Verdana, sans-serif;
	margin: 5px 0 10px 0;
}
#sbType {
	margin-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}
#sbName { margin: 6px; }
#sbProfileImg {
	width: 120px;
	height: 120px;
	padding: 3px;
	border: 1px solid #ccc;
	margin: 10px auto;
}
.hoverLinks {
    display: none;
    position: absolute;
    bottom: 16px;
    color: black;
    background-color: white;
    width: 99%;
    z-index: 2;
    text-align: center;
    padding-bottom: 5px;
}
.hoverLinks a {
	color: #000;
}

.hlcontainer:hover p.hoverLinks {
    display: block;
}



.smallMenu {
	color: #000;
	font-family: Georgia, serif;
}
.smallText {
	font-size: 10px; /* avoid unless necessary */
}
.role {
	line-height: 18px;
	color: #415666;
}

/* .......................
	Form elements
   ..................... */
.formcontainer {
	border-collapse: collapse;
	border: none; /* for tables */
}
.formcontainer td {
	padding: 10px 5px;
	vertical-align: middle;
}
.smallTextBoxes input[type="text"] {
	padding: 3px;
	width: 50px;
	min-width: 50px;
	border-radius: 0;
	text-align:center;
}
.topAlign {
	vertical-align: top !important;
}

.createButton {
	margin-top: 1px;
	margin-bottom: 1px;
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	padding-left: 35px;
	background: #556875 url("../image/createBtn.png") no-repeat left 50%;
	color: #fff;
	text-shadow: 1px 1px 1px #1a2229;
	border: 1px solid #293741;
	border-radius: 3px;
	-webkit-transition:  -webkit-box-shadow 0.3s ease;
	-moz-transition: -moz-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}
.createButton:hover {
	-webkit-box-shadow: 0 0 8px #4f6473;
	-moz-box-shadow: 0 0 8px #4f6473;
	box-shadow: 0 0 8px #4f6473;
}

.multiSelector {
	height: 100px;
	width: 90%;
}
input[type="text"] , input[type="password"] {
	padding: 10px;
	color: #1d272e;
	border: 1px solid #abadb3;
	border-radius: 3px;
	background: #f3f3f3;
}
input[type="text"]:focus , input[type="password"]:focus {	background-color: #fff; }
input[type="text"].search {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	background: #f3f3f3;
	outline: none;
}
input.search:focus {	background-color: #fff; }
textarea {
	width: 190px;
	padding: 10px;
	border: 1px solid #abadb3;
	background: #f3f3f3;
	border-radius: 3px;
}
textarea:focus {	background: white; }
.button {
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 20px;
	background: #415665 url("../image/button.png") repeat-x left bottom;
	color: #fff;
	text-shadow: 1px 1px 1px #1f2830;
	-webkit-transition: -webkit-box-shadow 0.3s ease;
	-moz-transition: -moz-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	border: none;
	cursor: pointer;
}
.button:hover {
	-webkit-box-shadow: 0 0 8px #4f6473;
	-moz-box-shadow: 0 0 8px #4f6473;
	box-shadow: 0 0 8px #4f6473;
}
.button.disabled {
    background: url("../image/disabledBtn.png") repeat-x left bottom;
    color: #7c7c7c;
}
.button.disabled:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.buttons { height: 15px; width: 98%; padding:25px 0 15px; text-align: right; }

select {	width: 210px;  }
.formerror {
	display: block;
	color: red;
}
.tip {
	font-style: italic;
	font-size: 11px;
	color: #666;
}
.formMessages {
	background: #e0f0f5;
	border: 1px solid #b8bec4;
	border-radius: 2px;
	padding: 5px;
	width: 80%;
	margin: 10px auto;
	xmargin: 10px 0;
	font-size: 12px;
}

.formMessages.good {
	background: #e0f0f5;
	border: 1px solid #b8bec4;
}

.formMessages.bad {
	background: #f4dcdc;
	border: 1px solid #c00000;
}
tr.bad { background: #f4dcdc; }

.formMessages.w90 { width: 90%; }

.block-success{
	clear:both;
	display:none;
	width:98%;
	height:auto;
	padding:5px 0;
	border:1px solid #a5bd71;
	background:#e4f1c9;
	margin:0 auto;
	text-align:center;
	color:#000
}
.block-error{
	display:none;
	width:98%;
	height:auto;
	padding:5px 0;
	border:1px solid red;
	background:#ffdfe0;
	margin:0 auto;
	color:red
}
.block-error ul{list-style:none; padding-left: 10px;}

.fmIcon {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0px;
	margin-top: -2px;
	margin-right: 10px;
	background: url("../image/fmIcons.png") no-repeat;
}
.fmIcon.generic {	background-position: 1px 1px; }
.fmIcon.good {	background-position: 1px -16px; }
.fmIcon.bad {	background-position: 1px -32px; }
.fmText {
	float: left;
	font-weight: bold;
	display: block;
}
.fmText li+li {
	margin-top: 5px;
}
.formMessages .clear {
	display:block;
	height: 1px;
}
.form-error {
	display: block;
	color: #f00;
	margin-bottom: 10px;
	font-weight:bold;
}

/* .......................
	Toggle button
   ..................... */
.toggleButton {

	display: inline-block;
	border-radius: 5px;
}
.toggleButton a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #293741;
	border-right: none;
}
.toggleButton a:nth-child(2n){
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #293741;
	border-left: none;
}
.toggleButton a {
	padding: 10px;
	background: #d2d2d2 url("../image/toggleOff.png") repeat-x left top;
	color: #a3aaaf;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}
.toggleButton .on {
	background: #3d5160 url("../image/button.png") repeat-x left top;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.toggleButton .clear {
	height: 1px;
	width: 1px;
}



/* .......................
	Table
   ..................... */
.datatable {
	font-size: 12px;
	font-size: 13px;
	border-collapse: collapse;
	color: #000;
	border: none;
	line-height: 1.6;
}
.datatable th {
	background: #f3f3f3 url("../image/thback.png") repeat-x left bottom;
	padding: 20px 5px;
	padding: 10px 5px;
	color: #4c3d34;
	text-shadow: 1px 1px 1px #fff;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	text-align: left;
	font-weight: bold;
}
.datatable td {
	padding: 10px 5px;
	border-bottom: 1px solid #d7c2b5;
	vertical-align: top;
}
.datatable.vm td {
	vertical-align: middle;
}
.datatable tr:nth-child(odd) td {
	/*background-color:#eae3e0;*/
	background-color: #f7f4f3;
}
.datatable p+p {
	margin-top: 8px;
}
.datatable tr.filter td {
    border-bottom: 1px solid #4C3D34;
    vertical-align: middle;
}
.datatable tr.filter td .button{
    padding: 7px 15px;
}
.datatable tr.filter input {
    padding: 5px;
    width: 145px;
}

.trid, .triu {	font-size: 9px; }

/* .......................
	Pagination
   ..................... */
.pagination {
	background: #9b928d !important;
	color: #51433a !important;
	text-align: right;
	padding: 10px;
	font-weight: bold;
}
.pagination a {
	margin-right: 15px;
	padding: 5px;
	color: #4C3D34;
}
.pagination .selected {
	background: #e6dedb;
	border: 1px solid #796d66;
	border-radius: 3px;
}
.lightoverlay {
    position:absolute;
    width: auto;
    min-height: 250px;
    height: 170px;
    background: #fff;
    z-index: 5;
    border: 2px solid;
    top: 200px;
    left: 40%;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    -ms-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    display: none;
}
#ajax-loader {
    display: none;
    height: 12px;
    position: fixed;
    text-align: center;
    top: 400px;
    width: 100%;
    z-index: 2000;
}
.innerTitle {
	color: #444;
}
.rm30 {	margin-right: 30px;	}
/* .......................
	END OF GENERAL STYLES
   ..................... */



/* .......................
	Signup form styles
   ..................... */
#suContainer {
	width: 55%;
	margin-right: 5px;
	border-right: 1px solid #eae3e0;
}
#lContainer {
	margin-left: 15px;
}

/* ..........................
	Role actions permissions
   ........................ */
.w15 {	width: 15%; }
.roleAction input { display:none; }
.roleAction {
	display: inline-block;
	*display: inline;
	*width: 100px;
	*float: left;
	padding: 5px;
	background: url("../image/curveShade.png") repeat-x left bottom;
	margin: 5px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.roleAction.yes {
	color: #00571e;
	color: #2f3f0f;
	background-color: #59ad07;
	background-color: #22a309;
	background-color: #99cc33;
	border: 1px solid #669933;
}
.roleAction.no {
	color: #570101;
	color: #3f1510;
	background-color: #e50000;
	background-color: #dd4b39;
	border: 1px solid #5e1f18;
}
.raIcon {
	display: inline-block;
	*display: inline;
	padding: 5px;
	margin-left: 5px;
	background: url("../image/raIcons.png") no-repeat;
}
.roleAction.yes .raIcon {
	background-position: 1px -21px;
}
.roleAction.no .raIcon {
	background-position: 1px 1px;
}

.rightSep {
	margin-right: 20px;
}
.dbBorder {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}
#courseContainer {
	height: 100px;
	overflow-y: auto;
	text-align: center;
	background: #f4f4f4;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
}
#courseContainer span {
	display: inline-block;
	margin: 10px;
}

.msgCsMeta {
	background: #373736 url("../image/menubar.png") repeat-x left bottom;
	padding: 10px 5px;
	text-align: center;
	color: #fff;
}
.msgCsMeta a {
	color: #999;
	font-weight: normal;
}

.calIcon {
	background: url("../image/calIcon.png") no-repeat 50%;
}

.courseSummary a {
	color: #427693;
}


/* ..........................
	News feed
   ........................ */
.feed li {
	padding: 10px 5px;
}
.feed li+li, #feeds > div+div {
	border-top: 1px solid #d7c2b5;
	margin-top: 5px;
}
#feeds > div img {
	width: 70px;
}
.feedIcon { float: left; height: 16px; width: 16px; display: block; background: url("../image/feedIcons.png") no-repeat 50%; }
.feedContent {	float: left; margin-left: 20px; }
.lesson .feedIcon {	background-position: 0 -16px; }
.deadline .feedIcon {	background-position: 0 0; }
#feed_event li {
	border-bottom: 1px solid #E9E9E9;
    padding-top: 15px;
    padding-bottom: 15px;
}
#feeds p:nth-child(1) {
	/*name of poster*/
	font-weight:bold;
	font-size: 16px;
	color: #333;
}
.show_more{
    background-color: #426883;
    height: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.show_more a {
    color: #fff;
    cursor: pointer;
}


/* ..........................
	Calendar
   ........................ */
.calendar {
	border-collapse: collapse;
	border: none;
}
.calendar td {
	border: 1px solid #d7c2b5;
	border: 1px solid #bbb;
	padding: 5px;
}
.calHead th {
	border-bottom: 2px solid #4c3d34;
	background: #f3f3f3 url("../image/thback.png") repeat-x left bottom;
	padding: 3px 5px;

}
#monthName {
	font-size: 16px;
	color: #4c3d34;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
}
.calFilters {
	background: #eae3e0;
	border-bottom: 1px solid #d7c2b5;
}
.calFilters input {
	width: 90px;
	min-width: 0;
	padding: 2px;
	border: 1px solid #898989;
}
.calFilters select {
	width: 90px;
}
.calFilters .pageAction {
	color: #4c3d34;
	margin-right: 0;
	font-weight: normal;
}
.calWeeks {
	font-weight: bold;
	color: #415666;
}
.calDay td{
	width: 117px;
	height: 80px;
}
.calandar-today {
    background: none repeat scroll 0 0 #373737;
    color: #FFFFFF;
    margin-left: 99px;
    margin-right: 10px;
    padding: 8px;
    text-shadow: none;
    width: 73px;
}

.w555 {
	width: 555px;
}

.rectBtn {
	border-radius: 3px;
	padding: 5px;
	background: #415665 url("../image/button.png") repeat-x left bottom;
	color: #fff;
	text-shadow: 1px 1px 1px #1f2830;
	-webkit-transition: -webkit-box-shadow 0.3s ease;
	-moz-transition: -moz-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	border: none;
	cursor: pointer;
	margin-left: 10px;

}
.rectBtn:hover {
	-webkit-box-shadow: 0 0 8px #4f6473;
	-moz-box-shadow: 0 0 8px #4f6473;
	box-shadow: 0 0 8px #4f6473;
}

#calendar-jumper select { width: 120px; }

#upcoming_exams li {
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.exam + .exam {
	border-top: 1px dashed #aaa;
	padding-top: 25px;
}
.yesno {
	background: url("../image/rightWrongSprite.png") no-repeat;
	width: 16px;
	height: 16px;
	*display: inline;
	display: inline-block;
	margin: 2px;
}
.yesno.Yes {
	background-position: 0 5px;
}
.yesno.No {
	background-position: 0 -12px;
}
#upcoming_exams li ul {
	margin-top: 10px;
}
#examresult-edit-form input[type="text"] { width: 30px; }

.upcomingAttention {
	background: #768230 url("../image/upcomingAttention.png") repeat-x left bottom;
	color:#fff;
	padding: 3px 5px;
	font-size: 10px;
	border-radius: 3px;
	font-weight:bold;
}

/* ..........................
	Rank badges
   ........................ */
.rankBadge1 td:last-child {
	background-image: url("../image/rankBadges.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.rankBadge2 {
	background-image: url("../image/rankBadges.png");
	background-repeat: no-repeat;
	background-position: 100% -64px;
}
.rankBadge3 {
	background-image: url("../image/rankBadges.png");
	background-repeat: no-repeat;
	background-position: 100% -137px;
}


/* ..........................
	Breadcrumbs
   ........................ */
#breadcrumbs {
	padding: 7px 3px;
	border-bottom: 1px solid #feb100;
	color: #4c3d34;
	font-size: 12px;
        clear: both;
        height: 16px;
}

#breadcrumbs li {
    float: left;
}
#breadcrumbs .sep {
	font-family: Arial;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 13px;
	padding-bottom: 3px;
}
#breadcrumbs a {
	color: #4c3d34;
	padding-left: 2px;
	padding-right: 2px;
}
#breadcrumbs a:hover {
	border-bottom: 1px dotted #948b85;
}

/* ..........................
	Calendar styling
   ........................ */
table.calendar { width: 100%; }
table.calendar caption { background: #373736 url("../image/menubar.png") repeat-x left bottom; height: 40px; padding: 10px 0 3px 0; font-size: 18px; color: #4c3d34; color: #fff; border-bottom: 1px solid #600; text-shadow: 1px 1px 1px #000; }
table.calendar caption .title {	font-weight:bold; }
table.calendar th { height: 30px; padding-top:10px; border: 1px solid #D7C2B5; border-top:none; color:#333; font-weight:bold; border-bottom:1px solid #feb100; }
table.calendar td { width: 14%; height: 80px; cursor: pointer; }
table.calendar td.today, table.calendar td.today:hover {
	background: #f8d384; background: #bcdde9;
	-webkit-box-shadow: inset 0 0 5px #7ca9ba;
	-moz-box-shadow: inset 0 0 5px #7ca9ba;
	-ms-box-shadow: inset 0 0 5px #7ca9ba;
	box-shadow: inset 0 0 5px #7ca9ba;
}
table.calendar td.prev-next, table.calendar td.prev-next:hover { background: #eee; }
table.calendar td:hover, table.calendar td.curr, table.calendar td.curr:hover {
	background: #fdf6e6;
	-webkit-box-shadow: inset 2px 2px 0 #feb100, inset -2px -2px 0 #feb100;
	-moz-box-shadow: inset 2px 2px 0 #feb100, inset -2px -2px 0 #feb100;
	-ms-box-shadow: inset 2px 2px 0 #feb100, inset -2px -2px 0 #feb100;
	box-shadow: inset 2px 2px 0 #feb100, inset -2px -2px 0 #feb100;
}
table.calendar td ul.output { margin-top: 10px; color: #427693; }
table.calendar .day {	font-weight:bold; color: #2f3233; }
table.calendar .prev-next .day { color: #aaa; }
.calendar .next a, .calendar .prev a {	color:#feb100; }
#day-events { border: 1px solid #d7c2b5; margin-top: 5px; }
#day-events h1 { padding: 10px 15px; font-size: 18px; border-bottom: 1px solid #feb100; background: #f3f3f3 url("../image/thback.png") repeat-x left bottom; text-align:center; text-shadow: 1px 1px 1px #fff; }
#day-events ul { padding: 10px 5px; }
#day-events ul li { padding: 15px 10px; margin-bottom: 1px; word-wrap: break-word; }
#day-events ul li .h3:nth-child(1) {	font-weight: bold; font-size: 14px; color: #333; }
#day-events ul li+li { border-top: 1px solid #d7c2b5; }
#day-events ul li:hover { background: #f1edd3; }
#day-events ul li.cancelled { background: #F4DCDC; }
#day-events ul li.cancelled span.cancelled { color: #ff0000; }

/* ..........................
	Attendance
   ........................ */
.attendanceBadge {
	font-weight:bold;
}
.attendanceBadge.absent {
	color:#c00000;
}
.attendanceBadge.present {
	color: #68751a;
}

/* ......................................
	Overridden jquery-ui styles
   .................................... */
.ui-slider { z-index: 0; }
.ui-widget-header { background: none repeat-x scroll 50% 50% #FE9B01; }
/* ......................................
        Post form styles
   .................................... */

#post-form { height: auto; overflow: hidden;  border: 1px solid #d7c2b5; margin-bottom: 20px; width: 96%; }
#post-form label { vertical-align: top; margin-top:3px; }
#post-form textarea { margin:0px 10px; margin-left: 0; width: 85%; height: 30px; border: 1px solid #ccc; border-radius: 0px; }
#post-form select { width: 160px; }
#post-form ul li { float: left; margin-right: 10px; line-height: 16px; }

/* ......................................
        User Role Icons
   .................................... */
.roleIcon {
    background: url("../image/roleSprite.png") no-repeat;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 20px;
    margin: 3px;
}
.roleIcon.Teacher {
    background-position: -2px 0;
}
.roleIcon.Student {
    background-position: -29px 0;
}
.roleIcon.Parents {
    background-position: -52px 0;
}
.roleIcon.Admin {
    background-position: -80px 0;
}

/* ..........................
	Documents
   ........................ */
.documents {
	margin-top: 10px;
}
.documents li:not(.heading):hover {
	background: #ccc;
	cursor: pointer;
}
.documents li {
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	padding-bottom: 5px;
}

.documents li.heading {
	font-weight: bold;
	padding-left: 0px;
	border-bottom: 0px none;
	padding-bottom: 5px;	
	padding-top: 15px;	
}

.documentsContainer {
	margin-top: 30px;
}
.catName {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	font-weight: bold;
	font-size: 16px;
	color: #333;
}
.catName + .catName {
	margin-top: 30px;
}
.oneDoc {
	background: url("../image/file_icon.png") no-repeat 50% top;
	display: block;
	width: 150px;
	height: 180px;
	margin: 20px 10px;
}
.bmpDoc {
	background: url("../image/documents/bmp.png") no-repeat 50% top;
}
.docDoc {
	background: url("../image/documents/doc.png") no-repeat 50% top;
}
.docxDoc {
	background: url("../image/documents/docx.png") no-repeat 50% top;
}
.gifDoc {
	background: url("../image/documents/gif.png") no-repeat 50% top;
}
.jpegDoc {
	background: url("../image/documents/jpeg.png") no-repeat 50% top;
}
.jpgDoc {
	background: url("../image/documents/jpg.png") no-repeat 50% top;
}
.odtDoc {
	background: url("../image/documents/odt.png") no-repeat 50% top;
}
.pdfDoc {
	background: url("../image/documents/pdf.png") no-repeat 50% top;
}
.pngDoc {
	background: url("../image/documents/png.png") no-repeat 50% top;
}
.pptDoc {
	background: url("../image/documents/ppt.png") no-repeat 50% top;
}
.pptxDoc {
	background: url("../image/documents/pptx.png") no-repeat 50% top;
}
.rtfDoc {
	background: url("../image/documents/rtf.png") no-repeat 50% top;
}
.txtDoc {
	background: url("../image/documents/txt.png") no-repeat 50% top;
}
.xlsDoc {
	background: url("../image/documents/xls.png") no-repeat 50% top;
}
.docWrapper {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.docMeta {
	bottom: 0;
	height: 50px;
	left: 0;
	width: 100%;
	background: #fff;
	text-overflow: ellipsis;
}

.h70 {
    height: 70px
}

/* ..........................
	Developer section
   ........................ */
