<phpunit colors="true" bootstrap="../../index.php"> 
    <testsuites> 
        <testsuite name="DynamicMenu Tests"> 
            <directory>../../modules/dynamicmenu/tests/</directory> 
        </testsuite> 
        <testsuite name="Sort Tests"> 
            <directory>../../modules/sort/tests/</directory> 
        </testsuite> 
        <testsuite name="Auth/Role/ACL Tests"> 
            <directory>../../modules/auth/tests/</directory> 
        </testsuite> 
    </testsuites> 
</phpunit>