[submodule "modules/stickyform"]
	path = modules/stickyform
	url = git@github.com:kodeplay/stickyform.git
[submodule "modules/cacheimage"]
	path = modules/cacheimage
	url = git@github.com:kodeplay/cacheimage.git
[submodule "modules/breadcrumbs"]
	path = modules/breadcrumbs
	url = git@github.com:kodeplay/breadcrumbs.git
[submodule "modules/calendar"]
	path = modules/calendar
	url = git@github.com:kodeplay/kohana_calendar.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = https://github.com/kohana/codebench.git
